.page-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primaryDark);
}

h1 {
  margin-bottom: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 72rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 1rem;
}

input {
  padding: 1rem;
  font-size: 1.6rem;
}

img {
  object-fit: cover;
  background-color: var(--primaryDark);
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

textarea {
  padding: 1rem;
  resize: none;
  font-size: 1.6rem;
  height: 12ch;
}

button {
  padding: 1em;
  font-size: 1.4rem;
  background-color: var(--primaryYellow);
  color: var(--primaryLight);
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
}

.error-message {
  color: var(--primaryRed);
  font-weight: normal;
  font-size: 1.4rem;
}