<div class="page-padding">
  <h1>Cadastre um filme</h1>
  
  <form class="form">
    <label>
      Título
      <input type="text" required>
    </label>
  
    <label>
      Banner
      <img *ngIf="banner" [src]="banner" [alt]="'Banner do filme ' + title">
      <input type="file" accept="image/*" required>
    </label>

    <label>
      Nota
      <app-rating-input></app-rating-input>
    </label>
  
    <label>
      Sinopse
      <textarea></textarea>
    </label>

    <button type="submit">Cadastrar</button>
  </form>
</div>