#banner-container {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

#banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  background-color: var(--primaryDark);
}

#banner-content-wrapper {
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 5;
  color: var(--primaryLight);
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

#banner-movie-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-title {
  margin: 0.4rem;
  color: var(--primaryYellow);
}

#movie-synopsis {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
