<div *ngIf="movie" id="banner-container">
  <div id="banner-content-wrapper">
    <h2>{{movie.rating
      ? 'Confira o último filme que você avaliou'
      : 'Descubra o próximo filme da sua lista'
    }}</h2>

    <div id="banner-movie-infos">
      <h3 id="movie-title">{{movie.title}}</h3>
      <p id="movie-synopsis">{{movie.synopsis}}</p>
      <app-rating-input *ngIf="movie.rating" [rating]="movie.rating" [disabled]="true"></app-rating-input>
    </div>
    
    <app-ancor [routerLink]="['movies', movie.id]">Ver detalhes</app-ancor>
  </div>

  <img
    [src]="movie.banner"
    id="banner-image"
    alt="Imagem do filme {{movie.title}}"
  >
</div>