#header {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#text-logo {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--primaryLight);
}

#text-logo > a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 600px) {
  #header {
    padding: 1rem 2rem;
  }
}
