#ancor {
  cursor: pointer;
  color: var(--primaryDark);
  font-size: 1.4rem;
  background-color: var(--primaryYellow);
  display: inline-block;
  font-weight: bold;
  border-radius: 4em;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0.8rem;
}

#ancor:hover {
  text-decoration: underline;
}
