.page-padding {
  color: var(--primaryDark);
}

.movie-title {
  margin-bottom: 1rem;
}

.movie-infos {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.rating-wrapper {
  margin-bottom: 2rem;
}

.rating-wrapper > span {
  font-weight: 700;
  margin-bottom: 0.2em;
  display: inline-block;
}

.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-title {
  text-align: center;
}

.not-found-text-wrapper {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.not-found-ancors {
  display: flex;
  gap: 1rem;
}
