article {
  padding: 1rem;
}

section {
  margin-bottom: 1.4rem;
}

section > h3 {
  margin-bottom: 1rem;
  color: var(--primaryDark);
}

@media screen and (min-width: 600px) {
  article {
    padding: 2rem;
  }
}