* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: sans-serif;

  --primaryRed: #B22222;
  --primaryDark: #333;
  --primaryYellow: #DAA520;
  --primaryLight: #fff;
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}