#star-radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  --radio-icon-size: 2rem;
}

.star-radio-icon {
  color: var(--primaryDark);
  font-size: var(--radio-icon-size);
}

.selected {
  color: var(--primaryYellow);
}

#star-radio-input:enabled:is(:hover, :focus, :checked) + .star-radio-icon {
  color: var(--primaryYellow);
}

#star-radio-input {
  all: unset;
  position: absolute;
  cursor: pointer;
  content: '';
  width: var(--radio-icon-size);
  aspect-ratio: 1;
  opacity: 0
}

#star-radio-input:disabled {
  cursor: default;
}
